.difficulty-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    cursor: pointer;
    margin-left: 24px;
    position: relative;
}

.current-difficulty {
    display: flex;
    align-items: center;
    color: #fff;
}

.current-difficulty .icon-container {
    margin-right: 8px;
}

.difficulty-options {
    position: absolute;
    display: none;
    left: 0;
    transform: translateX(-40%) translateY(60%);
    padding: 8px 0;
    margin-top: 0;
    background-color: #242630;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
    z-index: 1;
}

.difficulty-options li {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    color: #fff;
}

.difficulty-options li:hover {
    background-color: #464957;
}

.difficulty-options.visible {
    display: block;
}

.difficulty-icon {
    margin-right: 8px;
}

.difficulty-label {
    font-size: 1.2rem;
}

.difficulty-option {
    display: flex;
    align-items: center;
    padding: 8px 1rem 8px 0;
    white-space: nowrap;
    color: #fff;
}

.difficulty-option-icon {
    margin-right: 0.5rem;
}

.difficulty-option-label {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.difficulty-option-number {
    margin-left: auto;
    font-size: 1.2rem;
}

@media only screen and (max-width: 850px) {
    .difficulty-dropdown {
        width: 24px;
    }
    .difficulty-label {
        display: none;
    }
    .difficulty-icon {
        margin-right: 0;
    }
    .difficulty-option-label {
        font-size: 1rem;
    }
}