.game-stats-dialog-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-stats-dialog {
    background-color: #1c1e2a;
    color: white;
    padding: 0 2rem;
    border-radius: 10px;
    width: 70%;
    max-width: 600px;
    max-height: calc(99vh - 60px - 2rem);
    position: fixed;
    top: 60px;
    /* adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.game-stats-title {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    text-align: center;
    padding: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.histogram-label-column {
    flex: 0 0 20%;
    position: sticky;
    left: 0;
    background-color: #1c1e2a;
}

.histogram-bar-column {
    flex: 1;
}

.histogram-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.histogram {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.histogram-header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #1c1e2a;
    z-index: 1;
}

.histogram-header-row {
    height: 3rem;
    margin: 0.5rem 0;
}

.histogram-header-label {
    color: white;
    font-size: 2rem;
    text-align: left;
    padding-left: 1.6rem;
    height: 3rem;
    line-height: 3rem;
}

.histogram-content {
    display: flex;
    max-height: calc(99vh - 500px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1rem;
    padding-right: 20px;
    scrollbar-width: thin;
    /* Change width of scrollbar container */
    scrollbar-color: #0074d9 #40424e;
    /* Set color of scrollbar handle and track */
}


/* Style the scrollbar container */

.histogram-content::-webkit-scrollbar {
    width: 10px;
    /* Change width of scrollbar container */
}


/* Style the scrollbar handle */

.histogram-content::-webkit-scrollbar-thumb {
    background-color: #0074d9;
    /* Change color of scrollbar handle */
    border-radius: 5px;
    /* Add border-radius to scrollbar handle */
}


/* Style the scrollbar track */

.histogram-content::-webkit-scrollbar-track {
    background-color: #40424e;
    /* Change color of scrollbar track */
    border-radius: 5px;
    /* Add border-radius to scrollbar track */
}

.histogram-content {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Enable auto-hiding scrollbar */
}

.histogram-content::-ms-scrollbar {
    width: 10px;
    /* Change width of scrollbar container */
}

.histogram-content::-ms-scrollbar-thumb {
    background-color: #0074d9;
    /* Change color of scrollbar handle */
    border-radius: 5px;
    /* Add border-radius to scrollbar handle */
}

.histogram-row {
    height: 2rem;
    margin: 0.5rem 0;
}

.histogram-row-label {
    color: white;
    font-size: 1.5rem;
    height: 2rem;
}

.histogram-row-bar {
    flex: 1;
    height: 2rem;
    background-color: #40424e00;
    border-radius: 0.25rem;
    margin: 0 1rem;
    position: relative;
}

.histogram-row-bar-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #0074d9;
    border-radius: 0.25rem;
    line-height: 2rem;
    text-align: center;
    color: white;
}

.histogram-row-count {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
}

.histogram-row-header {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}


/* Mobile adjustments */

@media only screen and (max-width: 850px) {
    .game-stats-title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .histogram-header-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 0.4rem;
    }
    .histogram-content {
        max-height: calc(99vh - 300px);
    }
}