.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    margin-top: 0;
    overflow-y: auto;
}

.App-header {
    background-color: #1c1e2a;
    padding: 0.5rem 0;
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
    width: 100%;
    white-space: nowrap;
}

.App-header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header-logo-container {
    flex: 1;
    display: flex;
}

.header-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.App-logo {
    max-width: 3rem;
    /* Adjust the width as needed */
    margin: 10px;
}

.menu-icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    flex: 1;
}

h1 {
    margin: 10px;
}

@media only screen and (max-width: 850px) {
    .App-logo {
        max-width: 2rem;
    }
    .App-header h1 {
        font-size: 1rem;
    }
    .header-logo-container {
        flex: 1;
    }
    .header-title-container {
        flex: 1;
    }
    .menu-icons-container {
        flex: 1;
    }
}